/* Define's a basic style for the webpages */
body {
    background-color: rgb(255, 255, 255);

}

h1 { 
    font-family: fantasy;
    color: black;
    text-align: center;

}

p {
    font-family: 'Segoe UI';
    color: black;
    
}
